<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.yada.enjoyIntegral.dao.ConvertibleServiceReportDao">

	<resultMap id="ConvertibleServiceReport" type="com.yada.enjoyIntegral.model.ConvertibleServiceReport">
		<result property="productName" column="PRODUCT_NAME" />
		<result property="merNo" column="MER_NO" />
		<result property="merName" column="MER_NAME" />
		<result property="integralValue" column="INTEGRAL_VALUE" />
		<result property="gigtCount" column="GIFT_COUNT" />
		<result property="orgId" column="ORG_ID" />
		<result property="name" column="NAME" />

	</resultMap>

	<sql id="ConvertibleServiceReport_columns">
		T.PRODUCT_NAME,
		T.MER_NO,
		T.INTEGRAL_VALUE,
		T.GIFT_COUNT,
		T.ORG_ID,
		T.MER_NAME,
		T.NAME
	</sql>

	<sql id="ConvertibleServiceReport_findPage_where">
		<where>

			<if test="productName != null and productName !=''">
				AND T.PRODUCT_NAME like '%'||#{productName}||'%'
			</if>

			<if test="merNo != null and merNo !=''">
				AND T.MER_NO = #{merNo}
			</if>

			<if test="merName != null and merName !=''">
				AND T.MER_NAME like '%'||#{merName}||'%'
			</if>
			<!--<if test="reviewFlagM != null and reviewFlagM !=''">
				AND T.review_flag = #{reviewFlagM}
			</if>
			<if test="reviewFlag != null and reviewFlag !=''">
				AND T.review_flag = #{reviewFlag}
			</if>-->
			<if test="orgIdUser != null and orgIdUser != ''">
				AND T.ORG_ID in
				<foreach item="orgIdUser" index="index" collection="orgIdUser" open="("
						 separator="," close=")">
					#{orgIdUser}
				</foreach>
			</if>
			<if test="integralValuestart != null and integralValuestart !=''">
				AND T.INTEGRAL_VALUE &gt;= TO_NUMBER(#{integralValuestart})
			</if>
			<if test="integralValueend != null and integralValueend !=''">
				AND T.INTEGRAL_VALUE &lt;= TO_NUMBER(#{integralValueend})
			</if>
		</where>
	</sql>

	<select id="ConvertibleServiceReport_findCountByWhere" resultType="int">
		SELECT count(*) FROM (
		select t.product_name,t.mer_no,t.integral_value,t.gift_count,m.org_id,m.mer_name,o.name from PRODUCT_BASE t
		inner join Merchant_Base m on t.mer_no = m.mer_no
		inner join t_b_org o on m.org_id = o.org_id
		where t.end_date>=to_char(sysdate,'yyyymmdd')
		and t.review_flag='0'
		and t.gift_count>0
		and m.review_flag='0'
		and M.END_SERVICE_DATE >= to_char(sysdate,'yyyymmdd')
		AND M.SERVICE_STARE = '0'
		union all
		select t.product_name,t.mer_no,t.integral_value,t.gift_count,m.org_id,m.mer_name,o.name from product_enjoy t
		inner join merchant_enjoy m on t.mer_no = m.mer_no
		inner join t_b_org o on m.org_id = o.org_id
		where t.end_date>to_char(sysdate,'yyyymmdd')
		and t.review_flag='0'
		and t.gift_count>0
		and m.review_flag='0'
		and M.END_SERVICE_DATE >= to_char(sysdate,'yyyymmdd')
		AND M.SERVICE_STARE = '0'
		)T
		<include refid="ConvertibleServiceReport_findPage_where" /> 
	</select>


	<select id="ConvertibleServiceReport_findListByWhere" resultMap="ConvertibleServiceReport">
		SELECT
		<include refid="ConvertibleServiceReport_columns" />
		FROM (select t.product_name,t.mer_no,t.integral_value,t.gift_count,m.org_id,m.mer_name,o.name from PRODUCT_BASE t
		inner join Merchant_Base m on t.mer_no = m.mer_no
		inner join t_b_org o on m.org_id = o.org_id
		where t.end_date>to_char(sysdate,'yyyymmdd')
		and t.review_flag='0'
		and t.gift_count>0
		and m.review_flag='0'
		and M.END_SERVICE_DATE >= to_char(sysdate,'yyyymmdd')
		AND M.SERVICE_STARE = '0'
		union all
		select t.product_name,t.mer_no,t.integral_value,t.gift_count,m.org_id,m.mer_name,o.name from product_enjoy t
		inner join merchant_enjoy m on t.mer_no = m.mer_no
		inner join t_b_org o on m.org_id = o.org_id
		where t.end_date>to_char(sysdate,'yyyymmdd')
		and t.review_flag='0'
		and t.gift_count>0
		and m.review_flag='0'
		and M.END_SERVICE_DATE >= to_char(sysdate,'yyyymmdd')
		AND M.SERVICE_STARE = '0'
		) T
		<include refid="ConvertibleServiceReport_findPage_where" />
		ORDER BY T.INTEGRAL_VALUE DESC
	</select>
</mapper>

